.form-group 
    display flex

    &__body
        flex 1
        display flex
        flex-direction column

    &__label
        margin-bottom 10px
        color $label-text-color
        text-transform uppercase
        font-size 12px
        letter-spacing 0.65px