.form-group 
    display flex
    align-items flex-start
    flex 1
    flex-direction column
    
    &.form-group
        &--required
            .form-group
                &__label
                    &:after
                        content '*'
                        color $warning-color
                        position absolute
                        right -10px
                        top -5px
                        font-size 20px
        
        &--with
            &-m
                max-width 245px 
        
    &__label
        margin-bottom 10px
        color $label-text-color
        text-transform uppercase
        font-size 12px
        letter-spacing 0.65px
        position relative

.form-group-submit
    display flex
    & > *
        &:not(:last-child)
            margin-right 20px
    