@import "input-fields"
@import "file-upload"
@import "textarea-field"
@import "form-group"

.form
    &__body
        & > *
            margin 20px 0
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        