@import "input-fields"
@import "file-upload"
@import "textarea-field"
@import "form-group"

.form
    &__body
        margin-bottom 30px
        & > *
            margin 20px 0
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
    
    &__footer
        & > *
            margin 10px 0
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        
    
    &-line
        display flex
        align-items center
        & > *
            &:not(:last-child)
                margin-right 20px
        
        &__info
            font-size 14px

            &--color
                &-green
                    color #1fa349
    &-info
        font-size 12px
        color $text-info-color

        &__link
            text-decoration underline
            color $text-info-color
    
    &-success
        background-color $popup-header-bgc 
        & > * 
            margin 10px 0 
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        
        &__block
            background-color $white
            padding 30px 40px
        
        &__row
            display flex
            & > *
                &:not(:last-child)
                    margin-right 10px
        
        &-contacts
            position relative
            padding-left 50px

            &__icon
                left 0
                position absolute
                top 0
                size(35px)
            