.input-field
    background-color $hwite
    border-radius 4px
    height 50px
    border 1px solid $input-border-color
    appearance none
    padding 10px 15px
    box-shadow none
    
    +placeholder()
        color $input-placeholder-color

    &.input-field--size-small
        font-size 14px
        line-height 20px
        height 40px 