@import "action/action";
@import "advantages/advantages";
@import "basket/basket";
@import "buttons/buttons";
@import "category/category";
@import "footer/footer";
@import "form/form";
@import "header/header";
@import "navigation/navigation";
@import "popups/popups";
@import "product/product";
@import "questions/questions";
@import "sales-leaders/sales-leaders";
@import "small-blocks/small-blocks";
@import "small-blocks/section";
@import "user/user";