extends template/main

block variables
	- var title = 'Главная'
	- var pageClass = 'index-page'

block content
	include pages/index/banner
	include pages/index/popular-categories
	include pages/index/advantages
	include pages/index/actions
	include pages/index/discount-section
	include pages/index/sales-leaders
