section.s-sales-leaders
    .container
        .section-header
            h2.title-section Лидеры продаж
        .sales-leaders
            .sales-leaders__row
                .sales-leaders__col
                    a(href="#").sales-leader.sales-leader--big
                        .sales-leader__img-wrap
                            img(src="static/images/content/products/product-prev-1.jpg", alt="Фото товара").sales-leader__img
                        span.sales-leader__name Водосточные трубы
                    .sales-leaders__row
                        .sales-leaders__col
                            a(href="#").sales-leader
                                .sales-leader__img-wrap
                                    img(src="static/images/content/products/product-prev-2.jpg", alt="Фото товара").sales-leader__img
                                span.sales-leader__name Планка стыковочная 30х30х2000 мм
                        .sales-leaders__col
                            a(href="#").sales-leader
                                .sales-leader__img-wrap
                                    img(src="static/images/content/products/product-prev-3.jpg", alt="Фото товара").sales-leader__img
                                span.sales-leader__name Гладкий лист оцинкованный
                .sales-leaders__col
                    .sales-leaders__row
                        .sales-leaders__col
                            a(href="#").sales-leader
                                .sales-leader__img-wrap
                                    img(src="static/images/content/products/product-prev-4.jpg", alt="Фото товара").sales-leader__img
                                span.sales-leader__name Гладкий лист оцинкованный
                        .sales-leaders__col
                            a(href="#").sales-leader
                                .sales-leader__img-wrap
                                    img(src="static/images/content/products/product-prev-1.jpg", alt="Фото товара").sales-leader__img
                                span.sales-leader__name Подсистема вентилируемого фасада
                    .sales-leaders__row
                        a(href="#").sales-leader.sales-leader--big
                            .sales-leader__img-wrap
                                img(src="static/images/content/products/product-prev-2.jpg", alt="Фото товара").sales-leader__img
                            span.sales-leader__name Планка стыковочная 30х30х2000 мм, толщина 0.4 мм, цвет графитрвый серый