section.s-sales-leaders
    .container
        .section-header
            h2.title-section Лидеры продаж
        .sales-leaders
            .sales-leaders__row
                .sales-leaders__col
                    .sales-leaders__item.sales-leaders__item--big
                    .sales-leaders__row
                        .sales-leaders__col
                            .sales-leaders__item
                        .sales-leaders__col
                            .sales-leaders__item
                .sales-leaders__col
                    .sales-leaders__row
                        .sales-leaders__col
                            .sales-leaders__item
                        .sales-leaders__col
                            .sales-leaders__item
                    .sales-leaders__row
                        .sales-leaders__item.sales-leaders__item--big