@font-face {
    font-family: 'source_sans_problack'
    src: url('../fonts/sourcesanspro/source-sans-pro-black-webfont.woff2') format('woff2'),
        url('../fonts/sourcesanspro/source-sans-pro-black-webfont.woff') format('woff')
    font-weight 900
    font-style normal
}

@font-face {
    font-family: 'source_sans_probold'
    src: url('../fonts/sourcesanspro/source-sans-pro-bold-webfont.woff2') format('woff2'),
        url('../fonts/sourcesanspro-bold/source-sans-pro-bold-webfont.woff') format('woff')
    font-weight 700
    font-style normal
}

@font-face {
    font-family: 'source_sans_proregular'
    src: url('../fonts/sourcesanspro/source-sans-pro-regular-webfont.woff2') format('woff2'),
        url('../fonts/sourcesanspro/source-sans-pro-regular-webfont.woff') format('woff')
    font-weight normal
    font-style normal
}

@font-face {
    font-family: 'source_sans_prosemibold'
    src: url('../fonts/sourcesanspro/source-sans-pro-semibold-webfont.woff2') format('woff2'),
        url('../fonts/sourcesanspro/source-sans-pro-semibold-webfont.woff') format('woff')
    font-weight 600
    font-style normal
}