.actions-prev
	display flex
	& > *
		&:not(:last-child)
			margin-right 30px
			
.action-prev
	flex 1
	-webkit-border-radius 4px 
	border-radius 4px 
	overflow hidden
	
	&__header
		background-repeat no-repeat
		background-position center
		-webkit-background-size cover
		-o-background-size cover
		background-size cover
		display flex
		-webkit-align-items flex-end
		align-items flex-end
		padding 20px
		height 185px
	
	&__body
		background-color $white
		padding 15px 20px 
	
	&__title
		font-size 22px
		font-family $medium-font
		display block 