.s
	&-bg-white
		background-color $white
	
	&-popular-categories
		padding-bottom 10px
	
	&-sales-leaders
		padding-bottom 20px

	&-size-small
		padding 10px 0
	
.section-header
	display flex
	-webkit-align-items center
	align-items center
	margin-bottom 20px
	
	&__right
		margin-left auto	