.s-bg-white
	background-color $white
	
.section-header
	display flex
	-webkit-align-items center
	align-items center
	margin-bottom 20px
	
	&__right
		margin-left auto
	
	&__link
		color $link-color
		text-decoration underline
		font-family $medium-font  	