.popup.mfp-hide#popup-consultation
    .hide-on-success
        .popup__header
            span.popup__title Получить консультацию
            .popup__close
                +icon('close','popup__close-icon')
        .popup__body
            form.form(name="consultation_form")
                .form__body
                    .form-line
                        .form-group.form-group--required.form-group--with-m
                            label.form-group__label Контактный телефон
                            input.form-group__field.input-field(placeholder="+7(912)123-45-67" type="phone" name="phone")
                    .form-line
                        .form-group
                            label.form-group__label Вопрос или комментарий
                            textarea.textarea-field(name="consultation_comment" placeholder="Здравствуйте, меня интересует...")
                    .form-line    
                        .form-group
                            label.file-upload
                                input.file-upload__input(type="file")
                                .file-upload__custom
                                    +icon('attach','file-upload__icon')
                                    span.file-upload__text Прикрепить файл
                .form__footer
                    .form-line
                        .form-group.form-group--with-m
                            input(type="submit" value="Получить консультацию").btn.btn--size-l.btn--fill
                        span.form-line__info.form-line__info--color-green Ответим в течении 10 минут
                    .form-line
                        p.form-info Задавая вопрос Вы соглашаетесь с 
                            a(href="#").form-info__link политикой конфиденциальности
    .show-on-success
        .popup__header
            span.popup__title Мы Вам перезвоним
            .popup__close
                +icon('close','popup__close-icon')
        .popup__body
            .form-success
                .form-success__block
                    .form-success__info
                        span.form-success__text Номер вашей заявки
                        span.form-success__number 1234
                    .form-success__descr Менеджер позвонит на указанный номер #[strong сегодня до 14:30] по московскому времени.
                .form-success__block
                    span.popup__subtitle Не готовы ждать?
                    .form-success__row
                        .form-success__col
                            .form-success-contacts
                                +icon('phone','form-success-contacts__icon')
                                span.form-success-contacts__text Звоните круглосуточно
                                a(href="tel:+74998383838").link-green +7 499 838-38-38
                                a(href="#").link-underline.form-success-contacts__link Набрать номер по QR-коду
                        .form-success__col
                            .form-success-contacts
                                +icon('convert','form-success-contacts__icon')
                                span.form-success-contacts__text Напишите нам Email
                                a(href="mailto:egapur@yandex.ru").link-green egapur@yandex.ru


