.popup.mfp-hide#popup-upgrade
    .hide-on-success
        .popup__header
            span.popup__title Что можно улучшить на этой странице?
            .popup__close
                +icon('close','popup__close-icon')
        .popup__body
            form.form(name="consultation_form")
                .form__body
                    .form-line
                        .form-group.form-group--required
                            label.form-group__label Вопрос или комментарий
                            textarea.textarea-field(name="req_textarea" placeholder="Здравствуйте, на этой стрнице можно...")
                    .form-line
                        .form-group.form-group--required.form-group--with-m
                            label.form-group__label Электронная почта
                            input.form-group__field.input-field(placeholder="Введите свой Email" type="email" name="email")
                        span.form-line__info.form-line__info--size-s Мы быстрее исправим ошибку, если сможем связаться с вами.  
                    .form-line
                        .form-group.form-group--required.form-group--with-m
                            label.form-group__label Контактный телефон
                            input.form-group__field.input-field(placeholder="+7(912)123-45-67" type="phone" name="phone")
                .form__footer
                    .form-line
                        .form-group.form-group--with-m
                            input(type="submit" value="Предложить улучшение").btn.btn--size-l.btn--fill
                    .form-line
                        p.form-info предлагая улучшение Вы соглашаетесь с 
                            a(href="#").form-info__link политикой конфиденциальности
    .show-on-success
        .popup__header
            span.popup__title Что можно улучшить на этой странице?
            .popup__close
                +icon('close','popup__close-icon')
        .popup__body
            .form-success
                .form-success__block
                    .form-success__info
                        span.form-success__text Номер вашей заявки
                        span.form-success__number 1234
                    .form-success__descr Менеджер позвонит на указанный номер #[strong сегодня до 14:30] по московскому времени.
                .form-success__block
                    span.form-success__label Не готовы ждать?
                    .form-success__row
                        .form-success__col
                            .form-success-contacts
                                +icon('phone','form-success-contacts__icon')
                                span.form-success-contacts__text Звоните круглосуточно
                                a(href="tel:+74998383838").link-green +7 499 838-38-38
                                a(href="#").link-underline.form-success-contacts__link Набрать номер по QR-коду
                        .form-success__col
                            .form-success-contacts
                                +icon('convert','form-success-contacts__icon')
                                span.form-success-contacts__text Напишите нам Email
                                a(href="mailto:egapur@yandex.ru").link-green egapur@yandex.ru
                        