footer.footer
    .footer-main
        .container
    .footer-bottom
        .container
            .footer-bottom__line
                span.copyright © Gapur Evloev
                a(href="#").footer-bottom__link Политика конфиденциальности
                a(href="#").footer-bottom__link Карта сайта
            .footer-bottom__line
                p.footer-bottom__text Сайт создан в целях практики и обучения и не является публичной офертой.
                p.footer-bottom__text Для получиния информации обращаться в офисы продаж.